@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --inter: 'Inter', sans-serif;
  --dela: 'Dela Gothic One', cursive;
}

body {
  height: 100vh;
  background: linear-gradient(to bottom, #000000, #333333);
}

.container {
  height: 100%;
  display: grid;
  grid-template: 1fr 8fr / 2fr 7fr;
  gap: 1.2rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f3f5;
  grid-column-start: 1;
  grid-column-end: 3;
  border-radius: 0 0 15px 15px;
  gap: 20px;
}

.logo-text {
  font-size: 3rem;
  font-family: var(--inter);
  font-weight: 500;
}

.logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img > img {
  width: 3.5rem;
}

.side-bar {
  border: solid 5px #f0f3f5;
  border-radius: 15px 15px 0 0;
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 10px;
  gap: 15px;
  overflow: auto;
}

.inbox {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 15px;
  border: solid 2px #f0f3f5;
  height: 4rem;
  flex-shrink: 0;
  padding: 20px;
  background-color: white;
}

.inbox > p {
  font-family: var(--inter);
  font-size: 2rem;
}

.new-task-txt {
  font-family: var(--inter);
  font-size: 2rem;
}

.new-task-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-task-btn > img {
  width: 30px;
}

.new-task-btn > img:hover,
.edit-icon:hover {
  transform: scale(1.2);
}

/* Styling for Project Container */

.grey {
  background-color: grey;
}

.white {
  background-color: white;
}

.project-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.proj {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 15px;
  border: solid 2px #f0f3f5;
  height: 4rem;
  padding: 20px;
  justify-content: space-between;
}

.proj-submit-btn {
  color: white;
  background-color: purple;
  border: none;
  border-radius: 5px;
  height: 1.7rem;
  width: 4rem;
}

.proj-submit-btn:hover,
.proj-submit-btn:focus {
  background-color: plum;
  color: black;
}

#new-project-input {
  border: solid 3px purple;
  height: 1.7rem;
  border-radius: 5px;
}

#new-project-input:focus {
  border: solid 4px plum;
}

.new-projects-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  min-height: 4rem;
  width: 100%;
  flex-shrink: 0;
  gap: 5px;
  top: 0;
  position: sticky;
}

.proj > p {
  font-family: var(--inter);
  font-size: 1rem;
}

.proj-delete > img {
  width: 30px;
  display: flex;
  align-items: center;
}

/* Styling for delete modal */

.modal-container {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  width: 30%;
  gap: 30px;
}

.modal-paragraph {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-family: var(--inter);
  font-weight: 300;
}

.modal-btns-container {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.modal-btn {
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: white;
}

.modal-cancel-btn,
.todo-modal-cancel {
  background-color: gray;
}

.modal-delete-btn {
  background-color: red;
}

/* Todo List Styling */

.content {
  display: flex;
  flex-direction: column;
  border: solid 5px #f0f3f5;
  border-radius: 15px 15px 0 0;
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 10px;
  gap: 15px;
  overflow: auto;
}

.content-header {
  display: flex;
  gap: 15px;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  height: 4rem;
  width: 100%;
  flex-shrink: 0;
}

.todo-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.todo {
  background-color: white;
  width: 60%;
  height: 4rem;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
  align-items: center;
}

.edit-btn-container {
  justify-self: center;
}

.edit-icon {
  width: 1.5rem;
}

/* New Todo Modal */

.new-todo-modal-container {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
  display: none;
  justify-content: center;
  align-items: center;
}

.new-todo-modal-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  width: 40%;
  gap: 30px;
  border-radius: 12px;
}

.new-todo-modal-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.new-todo-modal-form > div > label,
.new-todo-prio-container > div > label {
  font-family: var(--inter);
  font-size: 1.2rem;
}

.new-todo-form-containers {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.new-todo-prio-container {
  display: flex;
  gap: 50px;
}

.new-todo-prio-container > div {
  width: 50%;
}

#todo-modal-paragraph {
  border-bottom: dashed 2px black;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
  font-family: var(--inter);
  font-size: 1.4rem;
}

.new-todo-modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.new-todo-modal-buttons > button {
  border: none;
  width: 90px;
  height: 30px;
  border-radius: 5px;
  color: white;
  font-size: 15px;
}

.new-todo-modal-buttons > button[type='submit'] {
  background-color: purple;
}

#todo-modal-title,
#todo-modal-description,
#todo-modal-notes,
#todo-modal-priority,
#todo-modal-dueDate,
#todo-modal-project {
  border: solid 3px purple;
  border-radius: 5px;
}

#todo-modal-title,
#todo-modal-priority,
#todo-modal-dueDate,
#todo-modal-project {
  height: 1.6rem;
}

#todo-modal-description,
#todo-modal-notes {
  resize: none;
  height: 4rem;
}
